# dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# build outputs
dist/
dist-electron/
backend/dist/
frontend/dist/

# local database
*.db
backend/*.db

# OS files
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Misc
.temp
.tmp

# PWA
dev-dist/
sw.js
dist-sw.js
